* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

/* VARIABLE*/
:root {
    --app-height: 100vh;
}

/*FONDO DE LA PAGINA*/
body {
    background: url(../img/powerImage00.jpg) no-repeat fixed;
    background-size: auto var(--app-height);
}

/* HEADER DE LA PAGINA */
header {
    width: 100%;
    height: var(--app-height);
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgb(10, 15, 15) 50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    * {
        color: white;
    }
    .presentation {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            background-color: #1c1c1c;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            border: 5px solid rebeccapurple;
            box-shadow: 0px 0px 50px rebeccapurple;
            position: sticky;
            top: 0px;
            transition: .3s;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            a {
                text-decoration: none;
            }
            .title, .salute {
                font-size: 2.5rem;
                font-weight: bold;
            }
            .description {
                font-size: 1.25rem;
            }
            .line {
                width: 175px;
                height: 3px;
                background-color: white;
                margin: 15px;
            }
        }
        h1:hover {
            box-shadow: 0px 0px 100px rebeccapurple;
        }
    }
    .menu {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        position: sticky;
        top: 0px;
        right: 0px;
        nav {
            a {
                text-decoration: none;
                margin-left: 25px;
                padding: 5px 10px;
                border-bottom: 3px solid transparent;
                transition: .3s;
                -webkit-tap-highlight-color: transparent;
            }
            a:hover {
                text-shadow: 0px 0px 10px rebeccapurple;
                color: rebeccapurple;
                border-bottom: 3px solid rebeccapurple;
                transition: .3s;
            }
            a:first-child {
                margin-left: 0px;
            }
        }
    }
    .chevronDown, .chevronUp {
        width: 50px;
        position: absolute;
        left: calc(50% - 25px);
        bottom: 30px;
        cursor: pointer;
        transition: .3s;
        -webkit-tap-highlight-color: transparent;
    }
    .chevronUp {
        background-color: white;
        border-radius: 50%;
        position: fixed;
    }
    .chevronDown:hover {
        transform: translateY(10px);
    }
    
    .chevronUp:hover {
        transform: translateY(-10px);
    }
    .icon {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }
}

/* ANIMACION DEL CIRCULO */
.bounceInAnimation {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-name:bounceIn;
    animation-name:bounceIn
}
@keyframes bounceIn{
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
        animation-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    0%{
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)
    }
    20%{
        -webkit-transform:scale3d(1.1,1.1,1.1);
        transform:scale3d(1.1,1.1,1.1)
    }
    40%{
        -webkit-transform:scale3d(.9,.9,.9);
        transform:scale3d(.9,.9,.9)
    }
    60%{
        -webkit-transform:scale3d(1.03,1.03,1.03);
        transform:scale3d(1.03,1.03,1.03)
    }
    80%{
        -webkit-transform:scale3d(.97,.97,.97);
        transform:scale3d(.97,.97,.97)
    }
    to{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)}
}

/* MEDIA QUERIES DEL HEADER */
@media screen and (max-width: 1000px) {
    .header {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgb(10, 15, 15) 70%);
        flex-direction: column;
    }

    .header nav {
        display: flex;
    }

    .header nav a {
        display: flex;
        font-size: .8rem;
    }

    .header .presentation {
        width: 100%;
        height: 50%;
        align-items: flex-end;
    }

    .header .menu {
        width: 100%;
        height: 50%;
    }

    .header h1 {
        width: 17rem;
        height: 17rem;
        border-radius: 50%;
        border: 5px solid rebeccapurple;
        box-shadow: 0px 0px 50px rebeccapurple;
        position: sticky;
        top: 0px;
        transition: .3s;
        cursor: pointer;
        margin-bottom: 0px;
    }

    .header h1 .title, .salute {
        font-size: 1.75rem;
        font-weight: bold;
    }
    .header h1 .description {
        font-size: 1rem;
    }
    .header h1 .line {
        width: 125px;
        height: 2px;
        background-color: white;
        margin: 15px;
    }
    .header .chevronDown {
        width: 30px;
        left: calc(50% - 15px);
    }
    .chevronUp {
        width: 50px;
        right: 25px;
        bottom: 25px;
    }
}

/* CONTENIDO DE LA PAGINA */
main {
    .section {
        h2 {
            height: 150px;
            font-size: 2rem;
            background-color: #1c1c1c;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 25px 0px;
            background-color: white;
        }
    }
}

/* SECCION SOBRE MI */
#aboutMe .content {
    .aboutMe {
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .imgMT {
            width: 300px;
            margin: auto;
            img {
                display: block;
                width: 100%;
            }
        }
        .description {
            max-width: 700px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                text-align: center;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 40px;
            }
            p {
                font-size: 1.2rem;
                margin-bottom: 15px;
                text-align: justify;
                line-height: 1.5;
            }
            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: black;
                margin-top: 15px;
                font-weight: bold;
                padding: 15px 30px;
                border: 3px solid #1c1c1c;
                transition: .3s;
                &:hover {
                    background-color: #1c1c1c;
                    color: white;
                    transition: .3s;
                }
            }
        }
    }
}

/* SECCION PORTAFOLIO*/
#portfolio .content {
    .portfolio {
        max-width: 1400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .project {
            width: 400px;
            margin-bottom: 40px;
            .imgProject {
                border-left: 3px solid #1c1c1c;
                border-right: 3px solid #1c1c1c;
                border-top: 3px solid #1c1c1c;
                img {
                    display: block;
                    width: 100%;
                }
            }
            .infoProject {
                border-left: 3px solid #1c1c1c;
                border-right: 3px solid #1c1c1c;
                border-bottom: 3px solid #1c1c1c;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h3 {
                    text-align: center;
                    font-size: 1.75rem;
                    margin-bottom: 20px;
                }
                p {
                    text-align: justify;
                    font-size: 1.1rem;
                    line-height: 1.5;
                    margin-bottom: 20px;
                }
                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    padding: 15px 30px;
                    border: 3px solid #1c1c1c;
                    transition: .3s;
                    &:hover {
                        background-color: #1c1c1c;
                        color: white;
                        transition: .3s;
                    }
                    &:nth-last-child(2) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

/* SECCION CONTACTO */
#contact {
    .content {
        form::after {
            content: "M";
            display: flex;
            align-items: center;
            font-size: 60px;
            font-weight: bold;
            color: white;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: transparent;
            position: absolute;
            top: -75px;
            left: calc(50% - 75px);
            padding-left: 25px;
            box-sizing: border-box;
        }
        form::before {
            content: "T";
            display: flex;
            align-items: center;
            font-size: 60px;
            font-weight: bold;
            color: rebeccapurple;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #1c1c1c;
            position: absolute;
            top: -75px;
            right: calc(50% - 75px);
            padding-left: 85px;
            box-sizing: border-box;
        }
        h3 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 35px;
        }
        form {
            width: 90%;
            max-width: 475px;
            padding: 30px;
            padding-top: 105px;
            margin-top: 75px;
            margin-bottom: 20px;
            box-sizing: border-box;
            position: relative;
            z-index: 0;
            border: 5px solid #1c1c1c;
        }
        input, textarea {
            margin-bottom: 20px;
            color: inherit;
            font-size: 16px;
            padding: 7px 14px;
            resize: none;
            box-sizing: border-box;
            border: 3px solid #1c1c1c;
            border-radius: 0px;
            font-weight: 500;
        }
        input:focus, textarea:focus {
            outline: none;
            box-shadow: 0px 0px 15px rebeccapurple;
            border: 3px solid rebeccapurple;
        }
        input:hover, textarea:hover {
            box-sizing: border-box;
            border: 3px solid rebeccapurple;
            transition: .3s;
        }
        input, button {
            height: 40px;
        }
        input, textarea, button {
            width: 100%;
            font-size: 16px;
            padding-left: 10px;
            box-sizing: border-box;
            transition: .3s;
        }
        button {
            background-color: rebeccapurple;
            cursor: pointer;
            color: #fff;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0px;
        }
        button:hover {
            background-color: rgba(102, 0, 153, .75);
            transition: .3s;
        }
        button:active {
            opacity: .5;
        }
        .redesSociales {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                margin-top: 10px;
            }
            a {
                display: inline-block;
                width: 100px;
                margin-right: 25px;
                transition: .3s;
                img {
                    display: block;
                    width: 100%;
                }
            }
            a:last-child {
                margin-right: 0px;
            }
            a:hover {
                transform: translateY(-20px);
                transition: .3s;
            }
        }
    }
}

/* SECCION SKILLS */
#skills {
    .content {
        overflow: hidden;
        padding: 50px 0px 10px;
        .lenguajes {
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    }
}
.circular-progress {
    &, &::before, &::after {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }
    margin: 0px 50px;
    position: relative;
    transform: rotate(90deg);
    background: linear-gradient(0deg, #fff 50%, rgba(#fff, .2) 50%);
    &::before, &::after {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        text-align: center;
    }
    &::before {
        padding: .5em;
        box-sizing: border-box;
        font-size: 2rem;
        line-height: 8rem;
        font-weight: bold;
    }
    &::after {
        line-height: 13rem;
    }
}
@function progress($percent) {
    @return #{$percent/100 * 180}deg;
}
@mixin circular-progress($percent, $skill, $color, $bgcolor) {
    $progress: progress($percent);
    transform: rotate($progress);
    background: linear-gradient(0deg, $color 50%, rgba($color, .2) 50%);
    &::after, &::before {
        color: $color;
    }
    &::before {
        content: "#{$skill}";
        background: $bgcolor content-box;
        transform: rotate(-#{$progress});
    }
    &:after {
        content: "#{$percent}%";
        background: linear-gradient(transparent 50%, $bgcolor 50%);
        transform: scale(1.1) rotate(-#{$progress});
    }
}
/* AGREGANDO SKILLS*/
.html {
    @include circular-progress(95, "HTML5", orange, #fff);
}
.css {
    @include circular-progress(90, "CSS", blue, #fff);
}
.javascript {
    @include circular-progress(70, "JavaScript", yellow, #fff);
}
.scss {
    @include circular-progress(15, "SCSS", magenta, #fff);
}
.php {
    @include circular-progress(10, "PHP", rebeccapurple, #fff);
}
.react {
    @include circular-progress(5, "React", #2196f3, #fff);
}
.nodejs {
    @include circular-progress(5, "NodeJS", green, #fff);
}

/* PIE DE PAGINA */
footer {
    background-color: #1c1c1c;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .endPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }
        span {
            font-size: 1rem;
            text-align: center;
            font-style: italic;
        }
    }
}

/* ICONO FLOTANTE PARA IR AL PRINCIPIO */
.chevronUp {
    width: 60px;
    padding: 10px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    display: none;
    a {
        color: rebeccapurple;
    }
    -webkit-tap-highlight-color: transparent;
    &:hover {
        transform: translateY(-10px);
        transition: .3s;
    }
}
